@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head-h2{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
h2{
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    color: #0771de;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 1px #0771de;
}

.home-bottom{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}
.form-title{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}
.form-title input{
    width: 65%;
    padding: 5px;
}
.form-title label{
    margin-right: 10px;
    font-weight: bold;
}

.form-category{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-category input{
    width: 65%;
    padding: 5px;
}
.form-category label{
    margin-right: 10px;
    font-weight: bold;
}
.form-img{
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-img input{
    width: 65%;
    padding: 5px;
}
.form-img label{
    margin-right: 10px;
    font-weight: bold;
}
.form-description{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.form-description label{
    top: 0;
}
.form-description textarea{
 resize: none;
 font-size: 1rem;
}
.form-btn{
    padding: 4px;
    margin: 10px auto;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
